<form asp-controller="Web.Controllers.MVC.CablemodemModelo" asp-action="NoVerificadoFabricante" method="post">
    Fabricante:  <input name="fabricante" id="fabricante" />&nbsp; <button type="submit" class="btn btn-light" asp-route="NoVerificadoFabricante">Buscar</button>
</form>