@{
    ViewData["Title"] = "Cablemods No verificados";
}

<h1>Listado de cablemodems no verificados</h1>
<partial name="_Buscar" />
@if (ViewBag.Error is null)
{
    <h3>Se ha ahregado el modelo a los verificados</h3>
    @if (ViewBag.CablemodemsCount == 0)
    {
        <p>No se han encontrado cablemodems que no esten registrados en la lista de modelos</p>
    }
    else
    {
        <partial name="_Modelos" />
    }
}
else
{
    <p>@ViewBag.Error</p>
}