@{
    ViewData["Title"] = "Cablemods No verificados";
}

<partial name="_Cabecera" />
<br />
<partial name="_Buscar" />
<br />
<h6 class="text-success">Se ha agregado el modelo a los verificados</h6>
<br />

@if (ViewBag.Error is null)
{
    <partial name="_Modelos" />
}
else
{
    <h6 class="text-black-50">@ViewBag.Error</h6>
}