@{
    ViewData["Title"] = "Cablemods No verificados";
}

<partial name="_Cabecera" />
<br />
<partial name="_Buscar" />
<br />
@if (ViewBag.Error is null)
{
    <partial name="_Modelos" />
}
else
{
    <h6 class="text-black-50">@ViewBag.Error</h6>
}