@{
    ViewData["Title"] = "Cablemods No verificados";
}

<partial name="_Cabecera" />
<br />
<partial name="_Buscar" />
<br />
@if (ViewBag.Error is null)
{
    @if (ViewBag.CablemodemsCount == 0)
    {
        <h4 class="text-black-50">No se han encontrado cablemodems que no esten registrados en la lista de modelos</h4>
    }
    else
    {
        <partial name="_Modelos" />
    }
}
else
{
    <h6 class="text-black-50">@ViewBag.Error</h6>
}